<footer id="contact">
    <table class="container">
    <tbody>
    <br/>
        <tr>
            <th>
              Autor de página: Uriel Guzman.<br>
              Para más información:<br>
              <a href="holamundo10@gmail.com">holamundo10@gmail.com</a><br>
              Mi casita 123, R4, Cba, ARG
            </th>
            <th> 		  
              Páginas recomendable:<br>
              <a href="https://www.w3schools.com/"> W3School (buenos ejemplos)</a><br>
              <a href="https://lenguajejs.com/"> LenguajesJs (buenos consejos)</a><br>
              <a href="https://htmlcheatsheet.com/"> HtmlCheatSheet (de todo un poco)</a><br>
            </th>
            <th> 
              Adiciones:
              Ninguna por el momento.
            </th>
        </tr>
    </tbody>
    </table>
    
    </footer>
    